Template.WebApp/Connected Services/ServiceMantenimiento/ServiceMantenimiento3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrdenMasivaFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chofer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecIni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Generado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenMasivaFilter" nillable="true" type="tns:OrdenMasivaFilter" />
  <xs:complexType name="InformeFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fech_fin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fech_ini" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NInforme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NivelUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoloMiUsuario" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsrCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformeFilter" nillable="true" type="tns:InformeFilter" />
  <xs:complexType name="AuxilioMecanicoFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Are_codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ben_codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuxilioMecanicoFilter" nillable="true" type="tns:AuxilioMecanicoFilter" />
</xs:schema>