Template.WebApp/Connected Services/ServiceMantenimiento/ServiceTemplate5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" />
  <xs:element name="ListUsuariosAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUsuariosAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListUsuariosAutocompleteResult" nillable="true" type="q1:ResponseOfBaseResponsemN2Mq3LJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEmpresa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListEmpresaResult" nillable="true" type="q2:ResponseOfBaseResponsemN2Mq3LJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codiUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="LoginResult" nillable="true" type="q3:ResponseOfLoginResponsemN2Mq3LJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>