Template.WebApp/Connected Services/ServiceMantenimiento/ServiceMantenimiento6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" />
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Filters" />
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Lists" />
  <xs:complexType name="AuxilioMecanicoRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" minOccurs="0" name="AuxilioMecanico" nillable="true" type="q1:AuxilioMecanicoEntity" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Filters" minOccurs="0" name="Filtro" nillable="true" type="q2:AuxilioMecanicoFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuxilioMecanicoRequest" nillable="true" type="tns:AuxilioMecanicoRequest" />
  <xs:complexType name="MtbfRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" type="xs:short" />
      <xs:element minOccurs="0" name="Bam" type="xs:decimal" />
      <xs:element minOccurs="0" name="HorasDia" type="xs:unsignedByte" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" minOccurs="0" name="ListMtbf" nillable="true" type="q3:ArrayOfMTBFEntity" />
      <xs:element minOccurs="0" name="ViajeEnHoras" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MtbfRequest" nillable="true" type="tns:MtbfRequest" />
  <xs:complexType name="OrdenMasivaRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaGenerar" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Filters" minOccurs="0" name="Filtro" nillable="true" type="q4:OrdenMasivaFilter" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Lists" minOccurs="0" name="ListInsertar" nillable="true" type="q5:ArrayOfOrdenMasivaList" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenMasivaRequest" nillable="true" type="tns:OrdenMasivaRequest" />
</xs:schema>