Template.WebApp/Connected Services/ServiceMantenimiento/ServiceMantenimiento61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" />
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Lists" />
  <xs:complexType name="AuxilioMecanicoResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" minOccurs="0" name="AuxilioMecanico" nillable="true" type="q1:AuxilioMecanicoEntity" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Lists" minOccurs="0" name="List" nillable="true" type="q2:ArrayOfAuxilioMecanicoList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuxilioMecanicoResponse" nillable="true" type="tns:AuxilioMecanicoResponse" />
  <xs:complexType name="MtbfResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bam" type="xs:decimal" />
      <xs:element minOccurs="0" name="HorasDia" type="xs:unsignedByte" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" minOccurs="0" name="List" nillable="true" type="q3:ArrayOfMTBFEntity" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" minOccurs="0" name="Mtbf" nillable="true" type="q4:MTBFEntity" />
      <xs:element minOccurs="0" name="ViajeEnHoras" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MtbfResponse" nillable="true" type="tns:MtbfResponse" />
  <xs:complexType name="OrdenMasivaResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Lists" minOccurs="0" name="List" nillable="true" type="q5:ArrayOfOrdenMasivaList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenMasivaResponse" nillable="true" type="tns:OrdenMasivaResponse" />
</xs:schema>