Template.WebApp/Connected Services/ServiceMantenimiento/ServiceMantenimiento63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Lists" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Lists" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" />
  <xs:complexType name="ArrayOfAuxilioMecanicoList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuxilioMecanicoList" nillable="true" type="tns:AuxilioMecanicoList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuxilioMecanicoList" nillable="true" type="tns:ArrayOfAuxilioMecanicoList" />
  <xs:complexType name="AuxilioMecanicoList">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" base="q1:AuxilioMecanicoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Beneficiario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Carreta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaFin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaIni" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuxilioMecanicoList" nillable="true" type="tns:AuxilioMecanicoList" />
  <xs:complexType name="ArrayOfOrdenMasivaList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenMasivaList" nillable="true" type="tns:OrdenMasivaList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenMasivaList" nillable="true" type="tns:ArrayOfOrdenMasivaList" />
  <xs:complexType name="OrdenMasivaList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ben_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusCodInt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusPlaca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODI_PROGRAMACION_REAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codi_Programacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correctivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Externo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Generado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Glosa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDChofer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUnidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KILOMETRAJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMantenimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOrden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Odometro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preventivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RUTAVIAJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_s" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenMasivaList" nillable="true" type="tns:OrdenMasivaList" />
</xs:schema>