Template.WebApp/Connected Services/ServiceMantenimiento/ServiceMantenimiento62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Lists" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Lists" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" />
  <xs:complexType name="ArrayOfAuxilioMecanicoList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuxilioMecanicoList" nillable="true" type="tns:AuxilioMecanicoList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuxilioMecanicoList" nillable="true" type="tns:ArrayOfAuxilioMecanicoList" />
  <xs:complexType name="AuxilioMecanicoList">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" base="q1:AuxilioMecanicoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Beneficiario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Carreta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaFin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaIni" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuxilioMecanicoList" nillable="true" type="tns:AuxilioMecanicoList" />
  <xs:complexType name="ArrayOfOrdenMasivaList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenMasivaList" nillable="true" type="tns:OrdenMasivaList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenMasivaList" nillable="true" type="tns:ArrayOfOrdenMasivaList" />
  <xs:complexType name="OrdenMasivaList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ben_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusCodInt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusPlaca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODI_PROGRAMACION_REAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codi_Programacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correctivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Externo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Generado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Glosa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDChofer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUnidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KILOMETRAJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMantenimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOrden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Odometro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preventivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RUTAVIAJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_s" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenMasivaList" nillable="true" type="tns:OrdenMasivaList" />
  <xs:complexType name="ArrayOfTareasPendientesList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TareasPendientesList" nillable="true" type="tns:TareasPendientesList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTareasPendientesList" nillable="true" type="tns:ArrayOfTareasPendientesList" />
  <xs:complexType name="TareasPendientesList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionTarea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dias" type="xs:int" />
      <xs:element minOccurs="0" name="DiasRecorrido" type="xs:int" />
      <xs:element minOccurs="0" name="Horas" type="xs:int" />
      <xs:element minOccurs="0" name="HorasRecorrido" type="xs:int" />
      <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
      <xs:element minOccurs="0" name="KmtActual" type="xs:decimal" />
      <xs:element minOccurs="0" name="KmtAviso" type="xs:decimal" />
      <xs:element minOccurs="0" name="NroInforme" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechainforme" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idtipman" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TareasPendientesList" nillable="true" type="tns:TareasPendientesList" />
  <xs:complexType name="ArrayOfInformeList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformeList" nillable="true" type="tns:InformeList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformeList" nillable="true" type="tns:ArrayOfInformeList" />
  <xs:complexType name="InformeList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chofer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodChofer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCierre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdInforme" type="xs:int" />
      <xs:element minOccurs="0" name="Interno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroInforme" type="xs:decimal" />
      <xs:element minOccurs="0" name="Oficina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOU" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usr_Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformeList" nillable="true" type="tns:InformeList" />
  <xs:complexType name="ArrayOfODMdList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ODMdList" nillable="true" type="tns:ODMdList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfODMdList" nillable="true" type="tns:ArrayOfODMdList" />
  <xs:complexType name="ODMdList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atendida" type="xs:decimal" />
      <xs:element minOccurs="0" name="BenNombreSolicitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ben_Codigo_Solicitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Componente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Sistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_CtrlBolsaRepInforme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mer_CodOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mer_Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mer_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ODM_Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ODM_FechMovimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ODMd_Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="ODMd_Codigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ODMdList" nillable="true" type="tns:ODMdList" />
  <xs:complexType name="ArrayOfBusquedaArticuloList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusquedaArticuloList" nillable="true" type="tns:BusquedaArticuloList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusquedaArticuloList" nillable="true" type="tns:ArrayOfBusquedaArticuloList" />
  <xs:complexType name="BusquedaArticuloList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Original" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusquedaArticuloList" nillable="true" type="tns:BusquedaArticuloList" />
  <xs:complexType name="ArrayOfInformeOrdenMantenimientoList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformeOrdenMantenimientoList" nillable="true" type="tns:InformeOrdenMantenimientoList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformeOrdenMantenimientoList" nillable="true" type="tns:ArrayOfInformeOrdenMantenimientoList" />
  <xs:complexType name="InformeOrdenMantenimientoList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ben_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusPlaca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdInforme" type="xs:int" />
      <xs:element minOccurs="0" name="IdTarea" type="xs:int" />
      <xs:element minOccurs="0" name="KmUnidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Mecanico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroInforme" type="xs:int" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ofi_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformeOrdenMantenimientoList" nillable="true" type="tns:InformeOrdenMantenimientoList" />
  <xs:complexType name="ArrayOfInformeTareasList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformeTareasList" nillable="true" type="tns:InformeTareasList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformeTareasList" nillable="true" type="tns:ArrayOfInformeTareasList" />
  <xs:complexType name="InformeTareasList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Are_Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdInforme" type="xs:int" />
      <xs:element minOccurs="0" name="IdTarea" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipMan" type="xs:int" />
      <xs:element minOccurs="0" name="Mantenimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformeTareasList" nillable="true" type="tns:InformeTareasList" />
  <xs:complexType name="ArrayOfTareaMecanicoList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TareaMecanicoList" nillable="true" type="tns:TareaMecanicoList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTareaMecanicoList" nillable="true" type="tns:ArrayOfTareaMecanicoList" />
  <xs:complexType name="TareaMecanicoList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodMecanico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaTermino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraTermino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdInforme" type="xs:int" />
      <xs:element minOccurs="0" name="IdTarea" type="xs:int" />
      <xs:element minOccurs="0" name="IdTareaMecanicos" type="xs:int" />
      <xs:element minOccurs="0" name="Mecanico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TareaMecanicoList" nillable="true" type="tns:TareaMecanicoList" />
  <xs:complexType name="ArrayOfTareaMecanicosAyudanteList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TareaMecanicosAyudanteList" nillable="true" type="tns:TareaMecanicosAyudanteList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTareaMecanicosAyudanteList" nillable="true" type="tns:ArrayOfTareaMecanicosAyudanteList" />
  <xs:complexType name="TareaMecanicosAyudanteList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodMecanico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAyudante" type="xs:int" />
      <xs:element minOccurs="0" name="IdTareaMecanicos" type="xs:int" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TareaMecanicosAyudanteList" nillable="true" type="tns:TareaMecanicosAyudanteList" />
  <xs:complexType name="ArrayOfSolicitudRevisionBusquedaList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudRevisionBusquedaList" nillable="true" type="tns:SolicitudRevisionBusquedaList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudRevisionBusquedaList" nillable="true" type="tns:ArrayOfSolicitudRevisionBusquedaList" />
  <xs:complexType name="SolicitudRevisionBusquedaList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chofer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correlativo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudRevisionBusquedaList" nillable="true" type="tns:SolicitudRevisionBusquedaList" />
  <xs:complexType name="SolicitudRevisionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chofer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrelativoInterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSolicitudRevision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUnidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroInforme" type="xs:decimal" />
      <xs:element minOccurs="0" name="Odometro" type="xs:decimal" />
      <xs:element minOccurs="0" name="OdometroAnterior" type="xs:decimal" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudRevisionList" nillable="true" type="tns:SolicitudRevisionList" />
</xs:schema>