Template.WebApp/Connected Services/ServiceMantenimiento/ServiceMantenimiento5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" />
  <xs:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" />
  <xs:element name="ListOrdenMasiva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q1:OrdenMasivaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrdenMasivaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListOrdenMasivaResult" nillable="true" type="q2:ResponseOfOrdenMasivaResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCorrectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q3:OrdenMasivaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCorrectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertCorrectivoResult" nillable="true" type="q4:ResponseOfOrdenMasivaResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularCorrectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q5:OrdenMasivaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularCorrectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="AnularCorrectivoResult" nillable="true" type="q6:ResponseOfOrdenMasivaResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPreventivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q7:OrdenMasivaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPreventivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertPreventivoResult" nillable="true" type="q8:ResponseOfOrdenMasivaResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularPreventivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q9:OrdenMasivaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularPreventivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="AnularPreventivoResult" nillable="true" type="q10:ResponseOfOrdenMasivaResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInformePorNumero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroInforme" type="xs:decimal" />
        <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInformePorNumeroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectInformePorNumeroResult" nillable="true" type="q11:ResponseOfOrdenMasivaResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInforme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q12:InformeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInformeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListInformeResult" nillable="true" type="q13:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInforme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdInforme" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInformeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectInformeResult" nillable="true" type="q14:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInformeCorrectivoPreventivoTractoCarreta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroInforme" type="xs:decimal" />
        <xs:element minOccurs="0" name="TipoInforme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoU" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInformeCorrectivoPreventivoTractoCarretaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectInformeCorrectivoPreventivoTractoCarretaResult" nillable="true" type="q15:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInformeTareas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdInforme" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInformeTareasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListInformeTareasResult" nillable="true" type="q16:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInformeTareas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdInforme" type="xs:int" />
        <xs:element minOccurs="0" name="IdTarea" type="xs:int" />
        <xs:element minOccurs="0" name="IdTipMan" type="xs:int" />
        <xs:element minOccurs="0" name="AreCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInformeTareasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteInformeTareasResult" nillable="true" type="q17:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularInforme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdInforme" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularInformeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="AnularInformeResult" nillable="true" type="q18:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertInformeTareas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q19:InformeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertInformeTareasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertInformeTareasResult" nillable="true" type="q20:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInformeTareas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q21:InformeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInformeTareasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateInformeTareasResult" nillable="true" type="q22:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareaMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdInforme" type="xs:int" />
        <xs:element minOccurs="0" name="IdTarea" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareaMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTareaMecanicoResult" nillable="true" type="q23:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTareaMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTareaMecanico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTareaMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteTareaMecanicoResult" nillable="true" type="q24:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTareaMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q25:InformeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTareaMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertTareaMecanicoResult" nillable="true" type="q26:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTareaMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q27:InformeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTareaMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateTareaMecanicoResult" nillable="true" type="q28:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareaMecanicosAyudante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTareaMecanico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareaMecanicosAyudanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTareaMecanicosAyudanteResult" nillable="true" type="q29:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTareaMecanicosAyudante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAyudante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTareaMecanicosAyudanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteTareaMecanicosAyudanteResult" nillable="true" type="q30:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTareaMecanicosAyudante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q31:InformeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTareaMecanicosAyudanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertTareaMecanicosAyudanteResult" nillable="true" type="q32:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodAlmacen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="BusquedaArticuloResult" nillable="true" type="q33:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBolsa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q34:InformeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBolsaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertBolsaResult" nillable="true" type="q35:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarBolsas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q36:InformeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarBolsasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="AgregarBolsasResult" nillable="true" type="q37:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBolsas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdInforme" type="xs:decimal" />
        <xs:element minOccurs="0" name="Ben_Codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBolsasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListBolsasResult" nillable="true" type="q38:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBolsa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q39:InformeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBolsaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteBolsaResult" nillable="true" type="q40:ResponseOfInformeResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUsuariosAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUsuariosAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListUsuariosAutocompleteResult" nillable="true" type="q41:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSistemasAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSistemasAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListSistemasAutocompleteResult" nillable="true" type="q42:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubSistemasAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubSistemasAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListSubSistemasAutocompleteResult" nillable="true" type="q43:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTipoMAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTipoMAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTipoMAutocompleteResult" nillable="true" type="q44:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEmpresa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListEmpresaResult" nillable="true" type="q45:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFlotaAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFlotaAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListFlotaAutocompleteResult" nillable="true" type="q46:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlataformaAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlataformaAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListPlataformaAutocompleteResult" nillable="true" type="q47:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareasCAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareasCAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTareasCAutocompleteResult" nillable="true" type="q48:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareasAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareasAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTareasAutocompleteResult" nillable="true" type="q49:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareasPreventivoAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_bus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareasPreventivoAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTareasPreventivoAutocompleteResult" nillable="true" type="q50:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBeneficiarioAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBeneficiarioAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListBeneficiarioAutocompleteResult" nillable="true" type="q51:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlanAccionAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlanAccionAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListPlanAccionAutocompleteResult" nillable="true" type="q52:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPuntoAtencionAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPuntoAtencionAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListPuntoAtencionAutocompleteResult" nillable="true" type="q53:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMecanicosAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMecanicosAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListMecanicosAutocompleteResult" nillable="true" type="q54:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAlmacenesAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAlmacenesAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListAlmacenesAutocompleteResult" nillable="true" type="q55:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListArticulosAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idAlmacen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListArticulosAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListArticulosAutocompleteResult" nillable="true" type="q56:ResponseOfBaseResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codiUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="LoginResult" nillable="true" type="q57:ResponseOfLoginResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizapwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codiUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizapwdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ActualizapwdResult" nillable="true" type="q58:ResponseOfPwdResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListSistemasResult" nillable="true" type="q59:ResponseOfSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteSistemasResult" nillable="true" type="q60:ResponseOfSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSistemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectSistemasResult" nillable="true" type="q61:ResponseOfSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdSistemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IdSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="IdSistemasResult" nillable="true" type="q62:ResponseOfSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertSistemasResult" nillable="true" type="q63:ResponseOfSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateSistemasResult" nillable="true" type="q64:ResponseOfSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClaseM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClaseMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListClaseMResult" nillable="true" type="q65:ResponseOfClaseMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClaseMP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClaseMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListClaseMPResult" nillable="true" type="q66:ResponseOfClaseMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectClaseM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdClaseMantenimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectClaseMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectClaseMResult" nillable="true" type="q67:ResponseOfClaseMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClaseM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdClaseMantenimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClaseMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteClaseMResult" nillable="true" type="q68:ResponseOfClaseMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClaseM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdClaseMantenimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroOrden" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClaseMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertClaseMResult" nillable="true" type="q69:ResponseOfClaseMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaseM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdClaseMantenimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroOrden" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaseMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateClaseMResult" nillable="true" type="q70:ResponseOfClaseMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubSistemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListSubSistemasResult" nillable="true" type="q71:ResponseOfSubSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSubSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_tb_SubSistema_Mant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSubSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectSubSistemasResult" nillable="true" type="q72:ResponseOfSubSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdSubSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdSubSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="IdSubSistemasResult" nillable="true" type="q73:ResponseOfSubSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_tb_SubSistema_Mant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteSubSistemasResult" nillable="true" type="q74:ResponseOfSubSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSubSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_tb_SubSistema_Mant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSubSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertSubSistemasResult" nillable="true" type="q75:ResponseOfSubSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_tb_SubSistema_Mant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateSubSistemasResult" nillable="true" type="q76:ResponseOfSubSistemasResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTipoM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTipoMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTipoMResult" nillable="true" type="q77:ResponseOfTipoMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectTipoMResult" nillable="true" type="q78:ResponseOfTipoMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdTipoM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IdTipoMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="IdTipoMResult" nillable="true" type="q79:ResponseOfTipoMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteTipoMResult" nillable="true" type="q80:ResponseOfTipoMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTipoM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioRegistro" type="xs:short" />
        <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTipoMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertTipoMResult" nillable="true" type="q81:ResponseOfTipoMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Kilometros" type="xs:decimal" />
        <xs:element minOccurs="0" name="KilometrosAviso" type="xs:decimal" />
        <xs:element minOccurs="0" name="Dias" type="xs:short" />
        <xs:element minOccurs="0" name="DiasAviso" type="xs:short" />
        <xs:element minOccurs="0" name="Horas" type="xs:short" />
        <xs:element minOccurs="0" name="HorasAviso" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateTipoMResult" nillable="true" type="q82:ResponseOfTipoMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdTipoMP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IdTipoMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="IdTipoMPResult" nillable="true" type="q83:ResponseOfTipoMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTipoMP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTipoMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTipoMPResult" nillable="true" type="q84:ResponseOfTipoMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectTipoMPResult" nillable="true" type="q85:ResponseOfTipoMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteTipoMPResult" nillable="true" type="q86:ResponseOfTipoMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTipoMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Kilometros" type="xs:decimal" />
        <xs:element minOccurs="0" name="KilometrosAviso" type="xs:decimal" />
        <xs:element minOccurs="0" name="UsuarioRegistro" type="xs:short" />
        <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dias" type="xs:short" />
        <xs:element minOccurs="0" name="DiasAviso" type="xs:short" />
        <xs:element minOccurs="0" name="Horas" type="xs:short" />
        <xs:element minOccurs="0" name="HorasAviso" type="xs:short" />
        <xs:element minOccurs="0" name="cod_marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cod_modelo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTipoMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertTipoMPResult" nillable="true" type="q87:ResponseOfTipoMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Kilometros" type="xs:decimal" />
        <xs:element minOccurs="0" name="KilometrosAviso" type="xs:decimal" />
        <xs:element minOccurs="0" name="Dias" type="xs:short" />
        <xs:element minOccurs="0" name="DiasAviso" type="xs:short" />
        <xs:element minOccurs="0" name="Horas" type="xs:short" />
        <xs:element minOccurs="0" name="HorasAviso" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateTipoMPResult" nillable="true" type="q88:ResponseOfTipoMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareaM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareaMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTareaMResult" nillable="true" type="q89:ResponseOfTareaMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTareaM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTareaMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectTareaMResult" nillable="true" type="q90:ResponseOfTareaMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdTareaM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IdTareaMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="IdTareaMResult" nillable="true" type="q91:ResponseOfTareaMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTareaM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTareaMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteTareaMResult" nillable="true" type="q92:ResponseOfTareaMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTareaM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioRegistro" type="xs:short" />
        <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:int" />
        <xs:element minOccurs="0" name="ID_tb_SubSistema_Mant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTareaMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertTareaMResult" nillable="true" type="q93:ResponseOfTareaMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTareaM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:int" />
        <xs:element minOccurs="0" name="ID_tb_SubSistema_Mant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTareaMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateTareaMResult" nillable="true" type="q94:ResponseOfTareaMResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdTareaMP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IdTareaMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="IdTareaMPResult" nillable="true" type="q95:ResponseOfTareaMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareaMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTareaMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListTareaMPResult" nillable="true" type="q96:ResponseOfTareaMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTareaMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTareaMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectTareaMPResult" nillable="true" type="q97:ResponseOfTareaMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTareaMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioRegistro" type="xs:short" />
        <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Flg_Revision" type="xs:int" />
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:int" />
        <xs:element minOccurs="0" name="ID_tb_SubSistema_Mant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTareaMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertTareaMPResult" nillable="true" type="q98:ResponseOfTareaMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTareaMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
        <xs:element minOccurs="0" name="IdTipMan" type="xs:short" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Flg_Revision" type="xs:int" />
        <xs:element minOccurs="0" name="ID_tb_Sistema_Mant" type="xs:int" />
        <xs:element minOccurs="0" name="ID_tb_SubSistema_Mant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTareaMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateTareaMPResult" nillable="true" type="q99:ResponseOfTareaMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTareaMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTareaMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteTareaMPResult" nillable="true" type="q100:ResponseOfTareaMPResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdArticuloT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IdArticuloTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="IdArticuloTResult" nillable="true" type="q101:ResponseOfArticuloTResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListArticuloT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListArticuloTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListArticuloTResult" nillable="true" type="q102:ResponseOfArticuloTResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectArticuloT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdArtTar" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectArticuloTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectArticuloTResult" nillable="true" type="q103:ResponseOfArticuloTResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArticuloT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
        <xs:element minOccurs="0" name="Cod_Mer" type="xs:short" />
        <xs:element minOccurs="0" name="Cantidad" type="xs:short" />
        <xs:element minOccurs="0" name="Orden" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArticuloTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertArticuloTResult" nillable="true" type="q104:ResponseOfArticuloTResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArticuloT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdArtTar" type="xs:short" />
        <xs:element minOccurs="0" name="IdTarea" type="xs:short" />
        <xs:element minOccurs="0" name="Cod_Mer" type="xs:short" />
        <xs:element minOccurs="0" name="Cantidad" type="xs:short" />
        <xs:element minOccurs="0" name="Orden" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArticuloTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateArticuloTResult" nillable="true" type="q105:ResponseOfArticuloTResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticuloT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdArtTar" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticuloTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteArticuloTResult" nillable="true" type="q106:ResponseOfArticuloTResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Index_Compaia" type="xs:short" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListProductoResult" nillable="true" type="q107:ResponseOfProductoResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMarcaModelo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMarcaModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListMarcaModeloResult" nillable="true" type="q108:ResponseOfMarcaModeloResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFallasD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFallasDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectFallasDResult" nillable="true" type="q109:ResponseOfFallasDResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdFallasD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IdFallasDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="IdFallasDResult" nillable="true" type="q110:ResponseOfFallasDResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFallasD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFallasDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteFallasDResult" nillable="true" type="q111:ResponseOfFallasDResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFallasD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdSolicitudRevisionD" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdSolicitudRevision" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HoraRegistro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estado" type="xs:int" />
        <xs:element minOccurs="0" name="IdSistema" type="xs:int" />
        <xs:element minOccurs="0" name="IdObservacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFallasDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertFallasDResult" nillable="true" type="q112:ResponseOfFallasDResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudRevisionBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NivelUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodSucursal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudRevisionBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SolicitudRevisionBusquedaResult" nillable="true" type="q113:ResponseOfFallasDResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSolicitudRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdsolicitudRevision" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSolicitudRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectSolicitudRevisionResult" nillable="true" type="q114:ResponseOfFallasDResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSolicitudRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q115:FallasDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSolicitudRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateSolicitudRevisionResult" nillable="true" type="q116:ResponseOfFallasDResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUltimaRevisionChofer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodChofer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUltimaRevisionChoferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ObtenerUltimaRevisionChoferResult" nillable="true" type="q117:ResponseOfFallasDResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularSolicitudRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdSolicitudRevision" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularSolicitudRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="AnularSolicitudRevisionResult" nillable="true" type="q118:ResponseOfFallasDResponseozx_PhYH5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAuxilioMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q119:AuxilioMecanicoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAuxilioMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListAuxilioMecanicoResult" nillable="true" type="q120:ResponseOfAuxilioMecanicoResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAuxilioMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAuxilioMecanico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAuxilioMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="SelectAuxilioMecanicoResult" nillable="true" type="q121:ResponseOfAuxilioMecanicoResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuxilioMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAuxilioMecanico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuxilioMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="DeleteAuxilioMecanicoResult" nillable="true" type="q122:ResponseOfAuxilioMecanicoResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuxilioMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q123:AuxilioMecanicoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuxilioMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertAuxilioMecanicoResult" nillable="true" type="q124:ResponseOfAuxilioMecanicoResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuxilioMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q125:AuxilioMecanicoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuxilioMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="UpdateAuxilioMecanicoResult" nillable="true" type="q126:ResponseOfAuxilioMecanicoResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMtbf_AuxilioMecanico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="anio" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMtbf_AuxilioMecanicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListMtbf_AuxilioMecanicoResult" nillable="true" type="q127:ResponseOfMtbfResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMtbf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="anio" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMtbfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="ListMtbfResult" nillable="true" type="q128:ResponseOfMtbfResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMtbf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Peticiones.Requests" minOccurs="0" name="request" nillable="true" type="q129:MtbfRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMtbfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" minOccurs="0" name="InsertMtbfResult" nillable="true" type="q130:ResponseOfMtbfResponseH6V5Udoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>