Template.WebApp/Connected Services/ServiceMantenimiento/ServiceTemplate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMantenimiento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Template.Utility" />
      <xsd:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Others" />
      <xsd:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Requests.Responses" />
      <xsd:import schemaLocation="http://localhost:51922/ServiceMantenimiento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Mantenimiento.Entities.Objects.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMantenimiento_ListUsuariosAutocomplete_InputMessage">
    <wsdl:part name="parameters" element="tns:ListUsuariosAutocomplete" />
  </wsdl:message>
  <wsdl:message name="IServiceMantenimiento_ListUsuariosAutocomplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListUsuariosAutocompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMantenimiento_ListUsuariosAutocomplete_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Template.Utility" name="detail" element="q1:ServiceError" />
  </wsdl:message>
  <wsdl:message name="IServiceMantenimiento_ListEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ListEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServiceMantenimiento_ListEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMantenimiento_ListEmpresa_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Template.Utility" name="detail" element="q2:ServiceError" />
  </wsdl:message>
  <wsdl:message name="IServiceMantenimiento_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceMantenimiento_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMantenimiento_Login_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Template.Utility" name="detail" element="q3:ServiceError" />
  </wsdl:message>
  <wsdl:portType name="IServiceMantenimiento">
    <wsdl:operation name="ListUsuariosAutocomplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMantenimiento/ListUsuariosAutocomplete" message="tns:IServiceMantenimiento_ListUsuariosAutocomplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMantenimiento/ListUsuariosAutocompleteResponse" message="tns:IServiceMantenimiento_ListUsuariosAutocomplete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceMantenimiento/ListUsuariosAutocompleteServiceErrorFault" name="ServiceErrorFault" message="tns:IServiceMantenimiento_ListUsuariosAutocomplete_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMantenimiento/ListEmpresa" message="tns:IServiceMantenimiento_ListEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMantenimiento/ListEmpresaResponse" message="tns:IServiceMantenimiento_ListEmpresa_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceMantenimiento/ListEmpresaServiceErrorFault" name="ServiceErrorFault" message="tns:IServiceMantenimiento_ListEmpresa_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMantenimiento/Login" message="tns:IServiceMantenimiento_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMantenimiento/LoginResponse" message="tns:IServiceMantenimiento_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceMantenimiento/LoginServiceErrorFault" name="ServiceErrorFault" message="tns:IServiceMantenimiento_Login_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMantenimiento" type="tns:IServiceMantenimiento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListUsuariosAutocomplete">
      <soap:operation soapAction="http://tempuri.org/IServiceMantenimiento/ListUsuariosAutocomplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorFault">
        <soap:fault use="literal" name="ServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServiceMantenimiento/ListEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorFault">
        <soap:fault use="literal" name="ServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceMantenimiento/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorFault">
        <soap:fault use="literal" name="ServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMantenimiento">
    <wsdl:port name="BasicHttpBinding_IServiceMantenimiento" binding="tns:BasicHttpBinding_IServiceMantenimiento">
      <soap:address location="http://localhost:51922/ServiceMantenimiento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>